{% comment %}
<div style="
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: -1;
  overflow: hidden;
">
    <img src="{{ '/images/CoverImage.png' | relative_url }}" alt="Cover Image"
         style="
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 0; margin: 0;
        " />

    <div style="
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(255, 255, 255, 0.53);
    mix-blend-mode: lighten;
  ">

    </div>
</div>
{% endcomment %}

<p style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; padding: 0; margin: 0; z-index: -1; overflow: hidden; background-color: #89c2d9; ">
</p>