<style>

	.card-container {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		padding: 10px;

		background: white;
	}


	.card {
		display: flex;
		width: 30%;
		aspect-ratio: 1.618 / 1;
		border: 2px solid #ccc;
		border-radius: 12px;
		overflow: hidden;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
		font-family: sans-serif;
		text-decoration: none;
		color: inherit;
		transition: transform 0.2s ease;
		font-size: clamp(0.8rem, 1.2vw, 1.2rem); /* 최소-중간-최대 */
	}

/* 화면 너비가 1024px 이하일 때 */
	@media (max-width: 1024px) {
		.card {
			width: 48%;
		}
	}

/* 화면 너비가 768px 이하일 때 */
	@media (max-width: 768px) {
		.card {
			width: 100%;
		}
	}
	.card:hover {
		transform: translateY(-5px);
		box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
	}

	.card img {
		width: 60%;
		object-fit: cover;
		border: 1px solid #FAFAFA;
	}

	.card-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 40%;
		box-sizing: border-box;
	}

		.card-text h3 {
			padding: 8px 0 0 0;
			margin: 0 0 6px 0;
			font-size: 1.2em;
			color: #333;
		}

		.card-text desc {
			margin: 0 0 12px;
			font-size: 0.9em;
			color: #999;
		}

		.card-text p {
			margin: 0;
			font-size: 0.8em;
			color: #666;
		}

	.card-Title {
		height: 38.1966011231047%;
		background-color: #FAFAFF;
		font-weight: bold;
		display: flex;
		flex-direction: column;
	}

	.card-Content {
		height: 61.8033988768953%;
		background-color: #F0F0FF;
		padding: 10px;
	}

</style>
