<style>

	.subtitle-list {
		margin: 16px 0;
		padding-left: 20px; /* 번호 들여쓰기 조절 */
		margin-left: 20px; /* 들여쓰기 */
		font-size: 1.1em;
	}

		.subtitle-list li {
			margin-bottom: 8px;
		}

	.Link {
		color: blue;
		text-decoration: none;
	}

	.Paragraph {
		margin: 0 0 0 0;
		padding: 0 0 80px 0;

		border-bottom: 2px solid #ccc; /* 아래쪽 구분선 */
	}

	.card-container {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		background: white;
	}

	.card {
		display: flex;
		width: 31%;
		aspect-ratio: 1.618 / 1;
		border: 2px solid #ccc;
		border-radius: 12px;
		overflow: hidden;
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3); /* 기본 그림자 약간 약하게 */
		font-family: sans-serif;
		text-decoration: none;
		color: inherit;
		transition: transform 0.3s ease;
		font-size: 100%;
	}

/* 화면 너비가 1024px 이하일 때 */
	@media (max-width: 1024px) {
		.card {
			width: 48%;
			font-size: 130%;
		}
	}

/* 화면 너비가 768px 이하일 때 */
	@media (max-width: 768px) {
		.card {
			width: 100%;
			font-size: 160%;
		}
	}
	.card:hover {
		transform: translateY(-10px);
		box-shadow: 0 20px 35px rgba(0, 0, 0, 0.5); /* 더 진하고 넓은 그림자 */
	}

	.card-image-wrapper {
		position: relative;
		width: 60%;
		height: auto;
		object-fit: cover;
		border: 1px solid #FAFAFA;
		image-rendering: auto;
	}

	.card-image {
		width: 100%;
		height: 100%;
		position: absolute;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
	}

	.default-image {
		z-index: 1;
		opacity: 1;
	}

	.hover-image {
		z-index: 2;
		opacity: 0;
	}

	.card:hover .hover-image {
		opacity: 1;
	}

	.card:hover .default-image {
		opacity: 0;
	}

		.card-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 40%;
			box-sizing: border-box;
		}

		.card-text h3 {
			padding: 8px 0 0 0;
			margin: 6px 6px 6px 6px;
			font-size: 1.2em;
			color: #333;
		}

		.card-text desc {
			margin: 6px 6px 6px 6px;
			font-size: 1.0em;
			color: #666;
		}

		.card-text p {
			margin: 0;
			font-size: 0.6em;
			color: #666;
		}

	.card-Title {
		height: 38.1966011231047%;
		background-color: #FAFAFF;
		font-weight: bold;
	}

	.card-Content {
		height: 61.8033988768953%;
		background-color: #F0F0FF;
		padding: 10px;
	}

	.post-list-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 20px;
		background: white;
	}

	.post-list-element {
		height: 250px;
		border-bottom: 2px solid #ccc; /* 아래쪽 구분선 */
	}
	.post-list-image {
		float: right;
		width: 250px;
		margin: 20px;
	}
</style>
