<style>
/*	pre code {
		display: block;
		background-color: #ffffff;
		color: #333333;
		padding: 1em;
		border-radius: 6px;
		font-family: 'Consolas', monospace;
		font-size: 0.9em;
		line-height: 1.5;
		white-space: pre;
		overflow-x: auto;
		border: 1px solid #ccc;
	}

	code {
		background-color: #f0f0f0;
		color: #c7254e;
		padding: 0.2em 0.4em;
		border-radius: 4px;
		font-size: 0.9em;
		font-family: 'Consolas', monospace;
	}

*/	/*	
	@media (prefers-color-scheme: dark) {
		pre code {
			background-color: #222;
			color: #EEE;
			border: 1px solid #444;
		}
	}*/
	
</style>
