---
---
/* 직접 스타일 정의 */
body {
	font-family: sans-serif;
	padding: 0;
	background: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.post-content {
	max-width: 1200px;
	margin: 0 auto;
}

.site-title {
	color: blue;
	font-size: 50px;
}

