<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
	<div class="post-content">
		<header>
			<a href="{{ '/' | relative_url }}" class="site-title">
				{{ site.github.owner.name | default: '유저이름' }}
			</a>
		</header>
		<hr>
		{{ content }}
	</div>

	<hr>
	<footer style="text-align: center; margin: 40px 0;">
		<p>이메일: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
		<p>GitHub: <a href="{{ site.github.url }}">{{ site.github.owner.name }}</a></p>
	</footer>

</body>
</html>
