---
layout: default
---



<article class="post">
	<div class="Paragraph" style="overflow: hidden;">
		<div id="{{ page.title | slugify }}" class="post-title">{{ page.title }}</div>
		<!--
	<div class="post-description"> {{ page.description }}</div>
		-->
		{% if page.AutoContents %}
		<ol class="subtitle-list">
			{% for item in page.subtitle %}
			<a class="Link" href="#{{ item | slugify }}">
			<li>{{ item }}</li></a>
			{% endfor %}
		</ol>
		{% endif %}
		<br />
		{% if page.Thumbnail %}
		<img src="{{ page.Thumbnail }}" , style="width:100%; height:auto;" />
		{% endif %}
	</div>

	{{ content }}
</article>

{% include Post.html %}
